/*  your css code here. If applicable */
#line {
  background-color: black;
  width: 200px;
  height: 2px;
  position: relative;
  animation: rotateLine 2s linear infinite;
}

@keyframes rotateLine {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
